<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Find nearest poi </title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

	<!-- Custom Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

	<!-- Plugin CSS -->
	<link rel="stylesheet" href="css/animate.min.css" type="text/css">


	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/creative.css" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap-slider.js"> </script>
        <link rel="stylesheet" href="css/bootstrap-slider.css">
    </head>

    <body id="page-top" onload="getLocation()">

    	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    		<div class="container-fluid">
    			<!-- Brand and toggle get grouped for better mobile display -->
    			<div class="navbar-header">
    				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    					<span class="sr-only"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</button>
    			</div>

    			<!-- Collect the nav links, forms, and other content for toggling -->
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    				<ul class="nav navbar-nav navbar-right">
    					<li>
    						<a class="page-scroll" href="/index">Home</a>
    					</li>
    					<li>
    						<a class="page-scroll" href="/favourites">Favourites</a>
    					</li>
    					 <li>
    						<a class="page-scroll" href="/logout">Log out</a>
    					</li>
    				</ul>
    			</div>
    			<!-- /.navbar-collapse -->
    		</div>
    		<!-- /.container-fluid -->
    	</nav>

    	<header>
    		<div class="header-content">
    			<div class="header-content-inner">
    				<h1>{{naslov}}</h1>
    				<hr>
    				<p>{{opis}}</p>
    				<!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Pokreni</a> -->

    						


    					<input type="checkbox" name="amusement_park" id="amusement_park" value="amusement_park"> Amusement park</input>
    					<br>
    					<input type="checkbox" name="art_gallery" id="art_gallery" value="art_gallery"> Art gallery</input>
    					<br>
    					<input type="checkbox" name="aquarium" id="aquarium" value="aquarium"> Aquarium</input>
    					<br>
    					<input type="checkbox" name="bakery" id="bakery" value="bakery"> Bakery</input>
    					<br>
    					<input type="checkbox" name="cafe" id="cafe" value="cafe"> Cafe</input>
    					<br>
    					<input type="checkbox" name="casino" id="casino" value="bakery"> Casino</input>
    					<br>
    					<input type="checkbox" name="church" id="church" value="church"> Church</input>
    					<br>
    					<input type="checkbox" name="embassy" id="embassy" value="embassy"> Embassy</input>
    					<br>
    					<input type="checkbox" name="food" id="food" value="food"> Food</input>
    					<br>
    					<input type="checkbox" name="lodging"  id="lodging" value="lodging"> Hotels</input>
    					<br>
    					<input type="checkbox" name="museum" id="museum" value="museum"> Museums</input>
    					<br>
    					<input type="checkbox" name="night_club" id="night_club" value="night_club"> Night club</input>
    					<br>
    					<input type="checkbox" name="park" id="park" value="park"> Park</input>
    					<br>
    					<input type="checkbox" name="shopping_mall" id="shopping_mall" value="shopping_mall"> Shopping mall</input>
    					<br>
    					<input type="checkbox" name="stadium" id="stadium" value="stadium"> Stadium</input>
    					<br>
    					<input type="checkbox" name="synagogue" id="synagogue" value="synagogue"> Synagogue</input>
    					<br>
    					<input type="checkbox" name="zoo" id="zoo" value="zoo"> Zoo</input>
    					<br>
    					<br>
<form method="POST" action="/blah">			
    					<input id="ex6" name="radius" type="text" data-slider-min="5" data-slider-max="5000" data-slider-step="1" data-slider-value="500"/>
    					&nbsp;<span id="ex6CurrentSliderValLabel">Current radius: <span id="ex6SliderVal">500</span>m</span>
    					<br>
    					<br>
    					<button onClick="setList()" type="submit" class="btn btn-primary btn-xl page-scroll">Try It</button>
    					<input type="hidden" id="lat" value="" name="lat"/>
    					<input type="hidden" id="lng" value="" name="lng"/>
    					<input type="hidden" id="list" value="" name="list"/>
    				</form>


    				<!-- <p id="demo"></p> -->

    				<script>
    					var x = document.getElementById("demo");

    					function getLocation() {


    						// $("#museum").hide();

    						
    						// navigator.geolocation.watchPosition(function(position) {
    						// 	console.log("i'm tracking you!");
    						// },
    						// function (error) { 
    						// 	if (error.code == error.PERMISSION_DENIED)
    						// 		console.log("you denied me :-(");
    						// 	});

if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(showPosition);
} else { 
	x.innerHTML = "Geolocation is not supported by this browser.";
}

}

function showPosition(position) {
	// x.innerHTML = "Latitude: " + position.coords.latitude + 
	// "<br>Longitude: " + position.coords.longitude;	
	var lat = position.coords.latitude;
	var lng = position.coords.longitude;
	$("#lat").val(lat);
	$("#lng").val(lng);

	// var museum = $("#museum").val();
	// var lodging = $("#lodging").val();
	// var food = $("#food").val();




	
	
	// $.post("/blah",
	// {

	// 	list: trimmed_list,
	// 	latitude: lat,
	// 	longitude: lng,
	// 	radius: radius
	// });
}
$("#ex6").slider();
$("#ex6").on("slide", function(slideEvt) {
	$("#ex6SliderVal").text(slideEvt.value);
});

function setList() {
		var museum = $("#museum").is(':checked') ? "museum" : "";
	var amusement_park = $("#amusement_park").is(':checked') ? "amusement_park" : "";
	var lodging = $("#lodging").is(':checked') ? "lodging" : "";
	var food = $("#food").is(':checked') ? "food" : "";	
	var aquarium = $("#aquarium").is(':checked') ? "aquarium" : "";
	var art_gallery = $("#art_gallery").is(':checked') ? "art_gallery" : "";
	var bakery = $("#bakery").is(':checked') ? "bakery" : "";
	var cafe = $("#cafe").is(':checked') ? "cafe" : "";
	var night_club = $("#night_club").is(':checked') ? "night_club" : "";
	var casino = $("#casino").is(':checked') ? "casino" : "";
	var park = $("#park").is(':checked') ? "park" : "";
	var church = $("#church").is(':checked') ? "church" : "";
	var embassy = $("#embassy").is(':checked') ? "embassy" : "";
	var shopping_mall = $("#shopping_mall").is(':checked') ? "shopping_mall" : "";
	var stadium = $("#stadium").is(':checked') ? "stadium" : "";
	var synagogue = $("#synagogue").is(':checked') ? "synagogue" : "";
	var zoo = $("#zoo").is(':checked') ? "zoo" : "";

	var arr = new Array();
	arr.push(museum);
	arr.push(amusement_park);
	arr.push(lodging);
	arr.push(food);
	arr.push(aquarium);
	arr.push(art_gallery);
	arr.push(bakery);
	arr.push(cafe);
	arr.push(night_club);
	arr.push(casino);
	arr.push(park);
	arr.push(church);
	arr.push(embassy);
	arr.push(shopping_mall);
	arr.push(stadium);
	arr.push(synagogue);
	arr.push(zoo);

	var filteredArray = arr.filter(Boolean);	

	var list = filteredArray.join(" ");

	var trimmed_list = list.trim();

	$("#list").val(trimmed_list);

	var radius = $("#ex6").slider('getValue');
}


</script>

</div>
</div>
</header>

<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">We've got what you need!</h2>
				<hr class="light">
				<p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
				<a href="#" class="btn btn-default btn-xl">Get Started!</a>
			</div>
		</div>
	</div>
</section>

<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">At Your Service</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
					<h3>Sturdy Templates</h3>
					<p class="text-muted">Our templates are updated regularly so they don't break.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
					<h3>Ready to Ship</h3>
					<p class="text-muted">You can use this theme as is, or you can make changes!</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
					<h3>Up to Date</h3>
					<p class="text-muted">We update dependencies to keep things fresh.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
					<h3>Made with Love</h3>
					<p class="text-muted">You have to make your websites with love these days!</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="no-padding" id="portfolio">
	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="img/portfolio/1.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="img/portfolio/2.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="img/portfolio/3.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="img/portfolio/4.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="img/portfolio/5.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="img/portfolio/6.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Category
							</div>
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<aside class="bg-dark">
	<div class="container text-center">
		<div class="call-to-action">
			<h2>Free Download at Start Bootstrap!</h2>
			<a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
		</div>
	</div>
</aside>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Let's Get In Touch!</h2>
				<hr class="primary">
				<p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
			</div>
			<div class="col-lg-4 col-lg-offset-2 text-center">
				<i class="fa fa-phone fa-3x wow bounceIn"></i>
				<p>123-456-6789</p>
			</div>
			<div class="col-lg-4 text-center">
				<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
				<p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
			</div>
		</div>
	</div>
</section>

<!-- jQuery -->


<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>



</body>

</html>
